<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zor berria</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<a th:href="@{/usuarios/}">Hasierara</a>
    <h1>Erregistratu zor berria</h1>

    <form th:action="@{/deudas/save}" method="post" th:object="${deuda}">
        <label>Deskribapena:</label>
        <input type="text" th:field="*{description}" required /><br/>

        <label>Zenbatekoa:</label>
        <input type="number" step="0.01" th:field="*{quantity}" required /><br/>

        <label>¿Ordainduta?</label>
        <input type="checkbox" th:field="*{paid}" /><br/>

        <label>Zordun:</label>
        <select name="deudorId" required>
            <option th:each="usuario : ${usuarios}" 
                    th:value="${usuario.id}" 
                    th:text="${usuario.name + ' ' + usuario.lastName}">
            </option>
        </select><br/>

        <label>Artzekodun:</label>
        <select name="acreedorId" required>
            <option th:each="usuario : ${usuarios}" 
                    th:value="${usuario.id}" 
                    th:text="${usuario.name + ' ' + usuario.lastName}">
            </option>
        </select><br/>

        <button type="submit">Gorde</button>
    </form>

    <a th:href="@{/usuarios/userList}">Bueltatu zerrendara</a>
</body>
</html>
