<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sortu erabiltzailea</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<a th:href="@{/usuarios/}">Hasierara</a>
    <h1>Sortu erabiltzaile berria</h1>

    <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
        <label for="name">Izena:</label>
        <input type="text" id="name" th:field="*{name}" required /><br/>

        <label for="lastName">Abizena:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required /><br/>

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required /><br/>

        <label for="phone">Telefonoa:</label>
        <input type="text" id="phone" th:field="*{phone}" /><br/>

        <button type="submit">Gorde</button>
    </form>

    <a th:href="@{/usuarios/userList}">Bueltatu zerrendara</a>
</body>
</html>
