<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erabiltzaile zerrenda</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<a th:href="@{/usuarios/}">Hasierara</a>
    <h1>Erabiltzaile zerrenda</h1>

	<form class="form-unstyled" th:action="@{/usuarios/crear}" style="display:inline">
		<button type="submit">Sortu erabiltzaile berria</button>
	</form>
	
	<form class="form-unstyled" th:action="@{/deudas/deudaNueva}" style="display:inline">
		<button type="submit">Sortu zor berria</button>
	</form>

    <table border="1">
        <thead>
            <tr>
                <th>Izena</th>
                <th>Abizena</th>
                <th>Email-a</th>
                <th>Telefonoa</th>
                <th>Ariketak</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.name}">Nombre</td>
                <td th:text="${usuario.lastName}">Apellidos</td>
                <td th:text="${usuario.email}">Email</td>
                <td th:text="${usuario.phone}">Teléfono</td>
                <td>
                    <a th:href="@{'/usuarios/user/' + ${usuario.id}}">Ikusi gehiago</a> |
                    <a th:href="@{'/usuarios/eliminar/' + ${usuario.id}}" 
                       onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                       Ezabatu
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
