<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del Usuario</title>
</head>
<body>
    <h1 th:text="${usuario.name + ' ' + usuario.lastName}">Nombre Completo</h1>

    <p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>
    <p><strong>Teléfono:</strong> <span th:text="${usuario.phone}"></span></p>

    <h2>Deudas Pendientes</h2>
    <ul>
        <li th:each="deuda : ${usuario.deudasPendientes}">
            <span th:text="${deuda.description}"></span> - 
            <span th:text="${deuda.quantity}">0</span> € 
            <span th:if="${deuda.paid}" style="color:green">[Pagada]</span>
            <span th:if="${!deuda.paid}" style="color:red">[No pagada]</span>
        </li>
    </ul>

    <h2>Deudas por Cobrar</h2>
    <ul>
        <li th:each="deuda : ${usuario.deudasPorCobrar}">
            <span th:text="${deuda.description}"></span> - 
            <span th:text="${deuda.quantity}">0</span> € 
            <span th:if="${deuda.paid}" style="color:green">[Pagada]</span>
            <span th:if="${!deuda.paid}" style="color:red">[No pagada]</span>
			<span th:if="${!deuda.paid}">
				<form th:action="@{'/deudas/pagada/' + ${deuda.id}}" method="post" style="display:inline">
				    <button type="submit">Marcar como pagada</button>
				</form>
			 </span>
			<a th:href="@{'/deudas/eliminar/' + ${deuda.id}}" onclick="return confirm('¿Estás seguro de eliminar esta deuda?')">[Perdonar deuda]</a>
        </li>
    </ul>

    <a th:href="@{/usuarios/userList}">Volver a la lista</a>
</body>
</html>